.gallery {
  background-color: #f4f5ef;
  width: 100%;
  height: auto;
  padding: 20px;
}

.gallery .gallery-title {
  font-size: 60px;
  color: #872f2d;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.gallery-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px 300px;
  grid-auto-flow: dense;
  padding: 20px;
}

.gallery-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .h-1 {
    grid-row: span 1 / auto;
  }
  .h-2 {
    grid-row: span 2 / auto;
  }
  .h-3 {
    grid-row: span 3 / auto;
  }
  .h-4 {
    grid-row: span 4 / auto;
  }
  .h-5 {
    grid-row: span 5 / auto;
  }
  .w-1 {
    grid-column: span 1 / auto;
  }
  .w-2 {
    grid-column: span 2 / auto;
  }
  .w-3 {
    grid-column: span 3 / auto;
  }
  .w-4 {
    grid-column: span 4 / auto;
  }
  .w-5 {
    grid-column: span 5 / auto;
  }
}

@media screen and (max-width: 800px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
